<script>
    $('#reportrange').daterangepicker({
                opens:  'right',
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: '12/31/2014',
                dateLimit: {
                    days: 60
                },
                months: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                showDropdowns: false,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Сегодня': [moment(), moment()],
                    'Вчера': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Последняя неделя': [moment().subtract('days', 6), moment()],
                    'Последние 30 дней': [moment().subtract('days', 29), moment()],
                    'Текущий месяц': [moment().startOf('month'), moment().endOf('month')],
                    'Предыдущий месяц': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'blue',
                cancelClass: 'default',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Принять',
                    fromLabel: 'До',
                    toLabel: 'С',
                    customRangeLabel: 'Выберите интервал',
                    daysOfWeek: ["Вс","Пн","Вт","Ср","Чт","Пт","Сб"],
                    monthNames: ["Январь","Февраль","Март","Апрель","Май","Июнь","Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь"],

                    firstDay: 1
                }
            },
            function (start, end) {
                console.log("Callback has been called!");
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }
    );

    $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
    $('#reportrange').show();
</script>
<div class="modal-body">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label col-md-4">Обьект</label>
                <div class="col-md-8">
                    <input type="text"
                           placeholder="{{ point.objectName|e }}"
                           value="{{ point.objectName|e }}"
                           class="form-control"
                           disabled="disabled"
                    >
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <label class="control-label col-md-4">Тип контрольной точки</label>
                <div class="col-md-8">
                    <input type="text"
                           placeholder="{{ point.groupName|e }}"
                           value="{{ point.groupName|e }}"
                           class="form-control"
                           disabled="disabled"
                    >
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!--<div class="row">-->
    <div class="portlet box blue tabbable">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-reorder"></i>Контрольная точка
            </div>
        </div>
        <div class="portlet-body">
            <div class=" portlet-tabs">
                <ul class="nav nav-tabs">
                    <li class="">
                        <a data-toggle="tab" href="#portlet_tab3">Аттрибуты</a>
                    </li>
                    {#<li class="">
                        <a data-toggle="tab" href="#portlet_tab2">Регламент</a>
                    </li>#}
                    <li class="active">
                        <a data-toggle="tab" href="#portlet_tab1">Статистика</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#portlet_tab4">
                            {% trans from 'ITDoorsHaccpBundle' %}
                                QR Code
                            {% endtrans %}
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="portlet_tab1" class="tab-pane active">
                        <div class="row">
                            <label class="col-md-4 control-label">{#Веберите дату#}</label>
                            <div class="col-md-6">
                                <!-- вставляем adwanced data ranges components_pickers.html
                                По умолчанию текущий месяц.
                                Настраиваем на отображение только месяцы.

                                Либо вставляем Months Only и показываем по умолчанию только текцщий месяц.
                                -->
                                {#{{ ajax_filter_render_short('pointStatisticsDateRangeType', ajax_filter_namespace_point_statistics ~ point.id, {
                                    "point-statistics-holder": "ITDoorsAjax.updateList"
                                }) }}#}
                            </div>
                        </div>
                        <!--<div class="row">
                        <div class="col-md-12">-->
                        {#<p>Удалять и редактировать можно только в текущем месяце для инспектора и куратора. Админ может в любом. Все пишем в историю.</p>#}
                        <div class="table-responsive">
                            <a class="btn green" id="statistics-add-btn" href="#"><i class="fa fa-plus"></i>Добавить</a>
                            {{ ajax_form_render_btn({
                                'selector' : '#statistics-add-btn',
                                'formType' : 'pointStatisticsType',
                                'successFunctions' : {
                                    'point-statistics-holder' : 'ITDoorsAjax.updateList'
                                },
                                'serviceDefault' : {
                                    'alias' : 'point.statistics.service',
                                    'method' : 'addFormDefaults'
                                },
                                'serviceSave' : {
                                    'alias' : 'point.statistics.service',
                                    'method' : 'saveForm'
                                },
                                'defaults' : {
                                    'pointId' : point.id
                                },
                                'target' : '#statistics-add-holder'
                            }) }}
                            <div id="statistics-add-holder" style="display: none"></div>
                            <div id="point-statistics-holder" data-url="{{ path('point_statistics_show_ajax', { id : point.id }) }}">
                                {{ render(controller('ITDoorsHaccpBundle:Point:StatisticsAjax', { id : point.id })) }}
                            </div>
                        </div>
                        <!--</div>
                        </div>-->
                        <div class="btn-group">
                            <a data-toggle="dropdown" href="#" class="btn purple">
                                <i class="fa fa-user"></i> Параметры <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu bottom-up">
                                <li><a href="#"><i class="fa fa-plus"></i> Add</a></li>
                                <li><a href="#"><i class="fa fa-trash-o"></i> Edit</a></li>
                                <li><a href="#"><i class="fa fa-times"></i> Delete</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="i"></i> Full Settings</a></li>
                            </ul>
                        </div>
                    </div><!--tab-1-->
                    {#<div id="portlet_tab2" class="tab-pane">
                        <p>
                            <a target="_blank" href="#" class="btn red">
                                Activate this tab via URL
                            </a>
                        </p>
                    </div>#}
                    <div id="portlet_tab3" class="tab-pane">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Дата установки</label>
                                    {#<input type="text" placeholder="Chee Kin" class="form-control" id="firstName">#}
                                    <input type="text"
                                           placeholder="{{ point.installationDate|date('d.m.Y') }}"
                                           value="{{ point.installationDate|date('d.m.Y') }}"
                                           class="form-control" disabled="disabled">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Кто установил</label>
                                    <input type="text"
                                           placeholder="Михайличенко"
                                           value="Михайличенко"
                                           class="form-control" disabled="disabled">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Тип точки</label>
                                    <input type="text"
                                           placeholder="{{ point.groupName|e }}"
                                           value="{{ point.groupName|e }}"
                                           class="form-control"
                                           disabled="disabled"
                                    >
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Уровень мультибарьера</label>
                                    <input type="text"
                                           placeholder="{{ point.contourName|e }}"
                                           value="{{ point.contourName|e }}"
                                           class="form-control"
                                           disabled="disabled"
                                    >
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Объект</label>
                                    <input type="text"
                                           placeholder="{{ point.objectName|e }}"
                                           value="{{ point.objectName|e }}"
                                           class="form-control"
                                           disabled="disabled"
                                    >
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Cтатус</label>
                                    <input type="text"
                                           placeholder="{{ point.statusName|e }}"
                                           value="{{ point.statusName|e }}"
                                           class="form-control"
                                           disabled="disabled"
                                    >
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="portlet_tab4" class="tab-pane">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{{ point.qrCodePath }}" class="qrcode-img"/>
                            </div>
                        </div>
                    </div>
                </div><!--tab-content-->
            </div><!--portrait-tabs-->
        </div><!--portrait-body-->
    </div><!--portrait-box-->
    <!--</div>row-->
</div><!--modal-body-->

<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default">Закрыть</button>
    <button type="button" class="btn blue">Сохранить</button>
</div>